.border-tb {
  border: solid;
  border-left: none;
  border-right: none;
}

.border-top {
  border-top: solid;
}

p {
  margin: 0;
}

.border-bottom {
  border-bottom: solid;
}
.header {
  font-size: 2rem;
}

.top-txt {
  font-size: 1.5vw;
}

body {
  padding: 4%;
}
